NAVER_MAP_API_KEY_ID=your-naver-cloud-api-key-id
NAVER_MAP_API_KEY=your-naver-cloud-api-key
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ
ROUTE_START_NAME=일산 Sphere
ROUTE_START=126.77801150878531,37.658031591237425
ROUTE_GOAL_NAME=수명산 파크
ROUTE_GOAL=126.82325269403174,37.55138140215686
ROUTE_FUEL_TYPE=gasoline
ROUTE_MILEAGE=14
ROUTE_OPTION=traoptimal
ROUTE_LANG=ko
